* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 600px) {
    /*Menu*/

    #menu button {
        margin-right: 20px;
        padding: 15px 15px;
        position: fixed;
        bottom: 1px;
        border: none;
        border-radius: 30px;
    }

    #menu #inicio {
        left: 20px;
        transition: .3s;
    }

    #menu #contato {
        right: 1px;
        transition: .3s;
    }

    #menu #treino {
        left: 120px;
        transition: .3s;
    }

}